# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
/signService/*.exe
/signService/*.exe~
/signService/*.dll
/signService/*.so
/signService/*.dylib

# Test binary, built with `go test -c`
/signService/*.test

# Output of the go coverage tool, specifically when used with LiteIDE
/signService/*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
/signService/go.work


# enviroment variable
/signService/.env